button.search{
    width: 100px;
    height: 20px;
    border-radius: 20px;
    border-color: teal;
    background-color: whitesmoke;
    color: teal;
    border-style: solid;
    border-width: 1px;
}

button.add {
    border-radius: 100%;
    border: 1px teal;
    color: whitesmoke;
    background-color: teal;
} 

button.create{
    color: black;
    box-shadow: 2px 1px black;
    background-color: blue;
    border: 1px solid black;
}